<style>
body  {
    margin: 0;
    padding: 0;
    text-align: center;
}
.bodyclass #container {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}
</style>
<h1>ClickHouse DBAAS</h1>
<body class="bodyclass">
    <h2>Регистрация</h2>
    <form>
        <label for="register-username">Client name:</label>
        <input type="text" id="register-username" name="register-username"> <br>
        <label for="register-password">Password:</label>
        <input type="password" id="register-password" name="register-password"><br>
        <button type="button" >Sign up</button><br><br>
    </form>
    <h2>Авторизация</h2>
    <form>
        <label for="authorize-username">Client name:</label>
        <input type="text" id="authorize-username" name="authorize-username"><br>
        <label for="authorize-password">Password:</label>
        <input type="password" id="authorize-password" name="authorize-password"><br>
        <button type="button" >Log in</button><br><br>
    </form>
    <form>
        <button type="button">Create Database</button>
    </form>
</body>
</html>

